table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid #ddd;
    padding: 8px;
}
tr:hover{
    background-color: aquamarine;
}

h2{
    background-color: rgb(85, 192, 241);
    text-align: center;
    margin-bottom: 0%;
    color: white;
}
th{
    padding-top: 0%;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1c5ca585;
    color: white;
}
h3{
    text-align: center;
    text-shadow: black 0.25rem 0.25rem 0.75rem 0;
}